.lesson p,li,span,h3 {
    cursor: pointer;
}

.lesson .structure {
    border: 1px solid #dfe7ef;
    margin: 1rem 0;
    position: relative;
}

.lesson .structure::before {
    content: '';
    background-color: #6895D2;
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
}

.lesson .structure h3 {
    padding-left: 1rem;
}

.lesson .structure .structure-content {
    padding: 0 1rem;
}

.lesson .distinguish {
    border: 1px solid #dfe7ef;
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}

.lesson .distinguish span {
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.lesson .sign {
    background: #bae1ff;
    font-weight: 500;
    border-radius: 5px;
}

.lesson .sign span {
    margin: 0.25rem 0;
}

.lesson .introduce, .key-point {
    font-weight: 500;
}

.lesson .section-header {
    margin: auto -1rem;
    display: flex;
    background-color: #ffe5ec;
}

.lesson h2{
    position: relative;
    margin: 0;
    padding: 1rem 1.5rem;
}

/* .lesson h2::before{
    content: '';
    background-color: #FD8A8A;
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
} */

.lesson h3{
    margin: 1rem 0;
    font-weight: bold;
    text-decoration: underline;
}

.lesson .lecture ul {
    padding-left: 2rem;
}

.lesson .lecture li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-style: italic;
    line-height: 24px;
}

.lesson .input-blank.full-row {
    margin: 0;
    width: 100%;
}

.lesson-mistake .correct strong {
    color: green;
}

.lesson-mistake .incorrect strong {
    color: orangered;
    text-decoration: line-through;
}
