.navbar-client {
    background: var(--surface-card);
    border: solid #e5e7eb;
    border-width: 0 0 1px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    z-index: 9999;
    /* position: fixed; */
    width: 100%;
    height: var(--navbar-height);
}

.navbar-client .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.navbar-client .user-bar {
    display: flex;
    align-items: center;
}
.navbar-client .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 
.nav-links {
    display: flex;
    gap: 15px;
    margin-left: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-links .active-link {
    color: #1e90ff; 
} */

/* .navbar-start {
    width: 100%;
    display: flex;
}

.navbar-end {
    display: flex;
    align-items: center;
    gap: 10px;
} */