.navbar-admin {
    background: var(--surface-card);
    justify-content:space-between;
    display: flex;
    align-items: center;
    border: solid #e5e7eb;
    border-width: 0 0 1px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    height: var(--navbar-height);
    z-index: 9999;
    /* position: fixed; */
}
.navbar-admin .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.navbar-admin .user-bar {
    display: flex;
    align-items: center;
}
.navbar-admin .logo {
    /* display: flex;
    justify-content: center;
    min-height: 70px;
    color: var(--primary-color);
    align-items: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}