.story-container .story-detail {
    max-width: 800px;
    margin: 0 auto;
}

.story-container .author {
    display: flex;
    justify-content: end;
}

.story-container .story {
    padding: 0 1rem;
}

.story-container .story p {
    text-indent: 1rem;
    letter-spacing: 0.2px;
    font-size: 1.125em;
    line-height: 28px;
}

.story-container .story-para {
    cursor: pointer;
}

.story-container .story-list {
    padding: 1rem;
}

.thumbnail .introduction p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story .introduction {
    padding: 0.5rem 1rem;
    background-color: #ffe5ec;
    border-radius: 8px;
}

.thumbnail {
    cursor: pointer;
    /* transition: transform 0.3s ease-in-out; */
    padding: 0;
}

/* .thumbnail:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
} */

.thumbnail img{
    transition: transform 0.5s ease-in-out;
}

.thumbnail:hover img{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    /* z-index: 2; */
}

.thumbnail .image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.thumbnail img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* height: calc(1.5*width); */
    height: auto;
    /* aspect-ratio: 210 / 297; */
    aspect-ratio: 16 / 9;
}

.thumbnail i {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: cornsilk;
    /* font-weight: 500; */
    font-size: 14px;
}

.thumbnail .title {
    color: chocolate;
    text-align: center;
    /* font-size: 1.125em; */
    padding: 1rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .story-container .story {
        padding: 0 2rem;
    }
}

