.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.App .container{
  display: flex;
  background-color: #F3F4FF;
  /* margin-top: 4px; */
  width: 100%;
  min-height: calc(100vh - 65px - 65px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --navbar-height: 65px;
  /* --container-gap: 4px */
}

h1 {
  font-size: 1.75em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}

p {
  line-height: 24px;
  font-weight: 500;
  font-size: 1rem;
}

.p-button-icon-only {
  max-width: 38px;
  max-height: 38px;
}
.p-button {
  max-height: 38px;
}
.p-overlaypanel-content {
  padding: 1rem;
}

.p-dropdown-label.p-inputtext {
  height: 36px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* .p-inputtext {
  padding: 0.25rem 0.5rem !important; */
  /* height: 36px;
} */

/* label {
  font-weight: 500;
} */

.p-button-label {
  font-weight: 600;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: 600;
}

.p-card-content h4{
  margin-top: 0;
  text-align: left;
}

.p-card-content label{
  margin-top: 0;
  text-align: left;
  min-width: 100px;
  cursor: pointer;
}
.p-calendar {
  padding: 0 !important;
}
.p-card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12);
  border-radius: 12px;
}

.p-menubar {
  padding: 0; 
  background: inherit;
  color: #4b5563;
  border: 0;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}
.p-menubar .p-menubar-end {
  margin-left: unset;
}
.p-stepper-horizontal ul {
  max-width: 800px;
}
.p-tabview .p-tabview-panels {
  padding: 1rem;
}
.p-accordion .p-accordion-content {
  padding: 1rem;
}