.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App .container{
  display: flex;
  background-color: #F3F4FF;
  /* margin-top: 4px; */
  width: 100%;
  /* min-height: calc(100vh); */
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --navbar-height: 65px;
  /* --container-gap: 4px */
}

h1 {
  font-size: 1.55rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}


.p-button-icon-only {
  max-width: 38px;
  max-height: 38px;
}
.p-button {
  max-height: 38px;
}
.p-overlaypanel-content {
  padding: 1rem;
}

.p-dropdown-label.p-inputtext {
  height: 36px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* .p-inputtext {
  padding: 0.25rem 0.5rem !important; */
  /* height: 36px;
} */

/* label {
  font-weight: 500;
} */

.p-button-label {
  font-weight: 600;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: 600;
}

.p-card-content h4{
  margin-top: 0;
  text-align: left;
}

.p-card-content label{
  margin-top: 0;
  text-align: left;
  min-width: 100px;
  cursor: pointer;
}
.p-calendar {
  padding: 0 !important;
}
.p-card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12);
  border-radius: 12px;
}

.p-menubar {
  padding: 0; 
  background: inherit;
  color: #4b5563;
  border: 0;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}
.p-menubar .p-menubar-end {
  margin-left: unset;
}
.p-stepper-horizontal ul {
  max-width: 800px;
}
.p-tabview .p-tabview-panels {
  padding: 0.75rem;
}