.page-admin {
    padding: 0.5rem;
    width: 100%;
}

.page-admin .actions {
    display: flex;
    /* justify-content: center; */
    
}

.page-admin .actions .p-button {
    /* max-height: 40px; */
}

.page-admin .content {
    margin-top: 1rem;
}

/* .page-admin .actions-form {
    height: auto;
    margin: 0 auto;
    max-width: 1000px;
    
} */

.page-admin .form-content {
    text-align: left;
    margin: 0.5rem;
    margin-top: 3rem;
}

.page-admin .form-actions {
    margin-top: 3rem;
    border-top: 1px solid #e5e7eb;
    padding-top: 1rem;
}

.page-admin .form-error {
    color: red;
}

.page-admin .data-table {
    border: solid 1px #e5e7eb;;
}

.page-admin .form-field {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    text-align: left;
}

.page-admin .form-field input{
    height: 38px;
}

.page-admin .form-field label{
    font-weight: 600;
}

.page-admin .form-field button{
    height: 38px;
}

.page-admin .story-para {
    cursor: pointer;
    font-weight: 500;
    text-align: justify;
}

.page-admin .p-inputgroup-addon {
    height: 38px;
    font-weight: 600;
    font-size: 14px;
    min-width: 55px;
}